<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Trip split</title>
</head>
<body>
  <h1>イベントを作成する</h1>
  <form action="{{ url_for('index') }}" method="post">
    <label for="event_name">イベント名:</label>
    <input type="text" id="event_name" name="event_name" required>
    <br>
        <label for="start_date">イベント開始日程:</label>
    <input type="date" id="start_date" name="start_date" required>
    <br>
        <label for="end_date">イベント終了日程:</label>
    <input type="date" id="end_date" name="end_date" required>
    <br>
    <label for="display_name">作成者名:</label>
    <input type="text" id="display_name" name="display_name" required>
    <br>    
  <p>
    <label>他の参加者の人数：</label><br>
    <input type="number" id="num_members" min="0" max="20" value="0">
    <button type="button" onclick="generateFields()">入力欄を表示</button>
  </p>

    <div id="member_fields"></div>
    <button type="submit">追加</button>
    <hr>
    <p>既にイベントに招待されている場合：</p>
        <a href="{{ url_for('join_event') }}">招待コードで参加する</a>
</form>

    <script>
function generateFields() {
    var num = document.getElementById('num_members').value;
    var container = document.getElementById('member_fields');
    container.innerHTML = '';
    for (var i = 0; i < num; i++) {
        var label = document.createElement('label');
        label.textContent = '参加者' + (i + 1) + 'の名前：';
        var input = document.createElement('input');
        input.type = 'text';
        input.name = 'member_names[]';
        var br = document.createElement('br');
        container.appendChild(label);
        container.appendChild(input);
        container.appendChild(br);
    }
}
</script>
</body>
</html>